.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3vw;
  margin-top: 3vw;
  width: 20%;
  height: 20%;
  border-color: red;
}

.img {
  width: 10vw;
}
.span {
  height: 5vw;
}
